In [1]:
import numpy as np
import pandas as pd

In [2]:
pets = pd.DataFrame({'sex': np.array(['M', 'M', 'F', 'M', 'F', 'F', 'F', 'M', 'F', 'M']),
                   'age': np.array([21, 45, 23, 56, 47, 70, 34, 30, 19, 62]),
                   'pets': np.array([['cat', 'dog'],
                                    ['hamster'],
                                    ['cat', 'gerbil'],
                                    ['fish', 'hamster', 'gerbil'],
                                    ['cat'],
                                    ['dog'],
                                    ['dog'],
                                    ['cat'],
                                    ['rabbit', 'cat'],
                                    ['dog']])})


#youngest student

In [3]:
pets

  sex  age                     pets
0   M   21               [cat, dog]
1   M   45                [hamster]
2   F   23            [cat, gerbil]
3   M   56  [fish, hamster, gerbil]
4   F   47                    [cat]
5   F   70                    [dog]
6   F   34                    [dog]
7   M   30                    [cat]
8   F   19            [rabbit, cat]
9   M   62                    [dog]

In [4]:
pets.info

<bound method DataFrame.info of   sex  age                     pets
0   M   21               [cat, dog]
1   M   45                [hamster]
2   F   23            [cat, gerbil]
3   M   56  [fish, hamster, gerbil]
4   F   47                    [cat]
5   F   70                    [dog]
6   F   34                    [dog]
7   M   30                    [cat]
8   F   19            [rabbit, cat]
9   M   62                    [dog]>

In [6]:
pets.shape

(10, 3)

In [7]:
pets.describe

<bound method NDFrame.describe of   sex  age                     pets
0   M   21               [cat, dog]
1   M   45                [hamster]
2   F   23            [cat, gerbil]
3   M   56  [fish, hamster, gerbil]
4   F   47                    [cat]
5   F   70                    [dog]
6   F   34                    [dog]
7   M   30                    [cat]
8   F   19            [rabbit, cat]
9   M   62                    [dog]>

In [8]:
pets.sort_values("age", ascending=True)

  sex  age                     pets
8   F   19            [rabbit, cat]
0   M   21               [cat, dog]
2   F   23            [cat, gerbil]
7   M   30                    [cat]
6   F   34                    [dog]
1   M   45                [hamster]
4   F   47                    [cat]
3   M   56  [fish, hamster, gerbil]
9   M   62                    [dog]
5   F   70                    [dog]